@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<div class="main-bootom">
    <div class="box-registration box-forum-update box">
        <div class="top-bar">
            <h3>
                РЕГИСТРАЦИЯ
            </h3>
            <div class="bar-arrow-down sprite">
            </div>
        </div>
        <div class="registration-accepr registration-wrapper clear">
            <div class="title">
                Регистрация прошла успешно</div>
            <div class="gray-28-button-wrapper">
                @Html.ActionLink("На главную", "Index", "Home")
            </div>
        </div>
    </div>
</div>
