@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<div class="main-bootom">
    <div class="box-registration box-forum-update box">
        <div class="top-bar">
            <h3>
                 ВОССТАНОВЛЕНИЕ ПАРОЛЯ
            </h3>
            <div class="bar-arrow-down sprite">
            </div>
        </div>
        <div class="registration-accepr registration-wrapper clear">
            <div class="title">
                На указанный вами email  был выслан пароль</div>
        </div>
    </div>
</div>
