@model turniri.Models.ViewModels.User.ForgotPasswordView

@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}


<div class="main-bootom">
    <div class="box-registration box-forum-update box">
        <div class="top-bar">
            <h3>
                ВОССТАНОВЛЕНИЕ ПАРОЛЯ
            </h3>
            <div class="bar-arrow-down sprite">
            </div>
        </div>
        <div class="registration-wrapper clear">
            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="input-item clear">
                    <div class="lable-name">
                        Email*</div>
                    <div class="input">
                        @Html.TextBox("Email", Model.Email)
                    </div>
                    @Html.ValidationMessage("Email")
                </div>
                <div class="registration-button">
                    <input class="blue-28-submit" type="submit" value="ВЫСЛАТЬ" />
                </div>
            }
        </div>
    </div>
</div>