@model turniri.Model.PageableData<turniri.Model.Tournament>
@{
    var currentUser = ((turniri.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<div class="turnirs-list">
    <ul>
        @{
            var i = 0;
        }
        @foreach (var tournament in Model.List)
        {
            var viewData =  new ViewDataDictionary();
            viewData.Add("count", i);
            @Html.Partial("TournamentItem", tournament,viewData);
            i++;
        }
    </ul>
</div>
<div class="paging light-paging turnir-paging">
    <div class="title">
        Страницы:
    </div>
    <div class="paging-list">
        @Html.PageLinksTurniri(Model.PageNo, Model.CountPage, x => Url.Action(Model.Action, new { id = ViewBag.GameID, type = ViewBag.Type, page = x }))
    </div>
</div>
