@model turniri.Model.Match

<div class="popup-window-big popup-window">
        <div class="top-bar">
            <h3>
                Пустой матч 
            </h3>
            <div class="icon-close-popup9 sprite">
            </div>
            <div class="bar-arrow-down sprite">
            </div>
        </div>
        <div class="popup-wrapper">
            Не должно быть показано
        </div>
    </div>
