@model turniri.Model.Round
@{
    var currentUser = ((turniri.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
<div class="game" id="Result_@(Model.ID)_2">
    @if (Model.Match.Status != (int)turniri.Model.Match.MatchStatusEnum.Created)
    {
        if (Model.IsRoundForScore)
        {
            if (Model.IsReadOnly(currentUser))
            {
        @Html.TextBox("Score2", Model.Score2Text, new { id = "Score_" + Model.ID.ToString() + "_2", @readonly = true,  tabindex = 2 })
            }
            else
            {
        @Html.TextBox("Score2", Model.Score2Text, new { id = "Score_" + Model.ID.ToString() + "_2",  tabindex = 3 })
            }
        }
        else
        {
            @Html.Hidden("Score2", Model.Score2, new { id = "Score_" + Model.ID.ToString() + "_2" })
            <div class="gray-16-button-wrapper @(Model.IsReadOnly(currentUser) ? "" : "set-winner")" id="Winner_@(Model.ID)_2">
                <span>ПОБЕДА</span>
            </div>
                if (Model.Score2 > 0)
                {
            <div class="icon-medal-1 sprite">
            </div>
                }
        }
    }
</div>
