<div class="top-bar">
    <h3>
        ОТВЕТИТЬ
    </h3>
</div>
<div class="forum-new-comment forum-comment-wrapper clear">
    <div class="enter">
        <a href="@Url.Action("Index", "Login")" class="gray">Войдите</a> или
         <a href="@Url.Action("Register", "User")" class="gray">зарегистрируйтесь</a>
    </div>
</div>
