@{
    ViewBag.Title = "FailQiwiMoney";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<div class="main-bootom">
    <div class="howtoplay long-gamers-rating gamers-rating">
        <div class="top-bar">
            <h3>ОШИБКА выставления счета через систему Qiwi
            </h3>
            <div class="bar-arrow-down sprite">
            </div>
        </div>
        <div class="text">
            <p>ОШИБКА выставления счета через систему Qiwi.</p>
            <a href="/">Вернуться на главную</a>
        </div>
    </div>
</div>

