@{
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Страница не найдена";
}
<div class="main-bootom">
    <div class="howtoplay long-gamers-rating gamers-rating">
        <div class="top-bar">
            <h3>  СТРАНИЦА НЕ НАЙДЕНА
            </h3>
            <div class="bar-arrow-down sprite">
            </div>
        </div>
            <div class="text">
            <a href="/">Вернуться на главную</a>
            </div>
    </div>
</div>

