@model turniri.Model.ProductImage
<div class="image-wrapper" data-id="@Model.ID">
    <div class="left-arrow sprite"></div>
    <div class="right-arrow sprite"></div>
    <div class="image">
        <img src="@Model.Image?width=1200"/>
    </div>
</div>
