<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="mimeConfig" type="turniri.Global.Config.MimeTypesConfigSection, turniri" />
    <section name="mailConfig" type="turniri.Global.Config.MailSettings, turniri" />
    <section name="mailTemplatesConfig" type="turniri.Global.Config.MailTemplateConfig, turniri" />
    <section name="iconConfig" type="turniri.Global.Config.IconSizesConfigSection, turniri" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=SATURN-PC;Initial Catalog=turniri;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <httpModules>
      <add name="AuthHttpModule" type=" turniri.Global.Auth.AuthHttpModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.web.webPages.razor>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="turniri.Global" />
        <add namespace="turniri.Helpers" />
        <add namespace="turniri.App_LocalResources" />
        <add namespace="StackExchange.Profiling" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/Content/logs/${shortdate}" />
    <targets>
      <target name="fileLogTrace" xsi:type="File" fileName="${logDirectory}/trace.txt" />
      <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}/debug.txt" />
      <target name="fileLogInfo" xsi:type="File" fileName="${logDirectory}/info.txt" />
      <target name="fileLogErrors" xsi:type="File" fileName="${logDirectory}/errors.txt" />
    </targets>
    <rules>
      <logger name="*" level="Trace" writeTo="fileLogTrace" />
      <logger name="*" level="Debug" writeTo="fileLogDebug" />
      <logger name="*" level="Info" writeTo="fileLogInfo" />
      <logger name="*" minlevel="Warn" writeTo="fileLogErrors" />
    </rules>
  </nlog>
  <mimeConfig>
    <mimeTypes>
      <add name="application/pdf" resource="/Media/images/mime/application-pdf.png" small="/Media/images/mime/small/application-pdf.png" extension=".pdf" />
      <add name="application/msword" resource="/Media/images/mime/application-msword.png" small="/Media/images/mime/small/application-msword.png" extension=".doc" />
      <add name="application/vnd.openxmlformats-officedocument.wordprocessingml.document" resource="/Media/images/mime/application-msword.png" small="/Media/images/mime/small/application-msword.png" extension=".docx" />
      <add name="application/vnd.ms-excel" resource="/Media/images/mime/application-vnd-ms-excel.png" small="/Media/images/mime/small/application-vnd-ms-excel.png" extension=".xls" />
      <add name="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" resource="/Media/images/mime/application-vnd-ms-excel.png" small="/Media/images/mime/small/application-vnd-ms-excel.png" extension=".xlsx" />
      <add name="application/vnd.ms-powerpoint" resource="/Media/images/mime/application-vnd-ms-powerpoint.png" small="/Media/images/mime/small/application-vnd-ms-powerpoint.png" extension=".ppt" />
      <add name="application/vnd.openxmlformats-officedocument.presentationml.presentation" resource="/Media/images/mime/application-vnd-ms-powerpoint.png" small="/Media/images/mime/small/application-vnd-ms-powerpoint.png" extension=".pptx" />
      <add name="application/x-msdownload" resource="/Media/images/mime/application-x-msdownload.png" small="/Media/images/mime/small/application-exe.png" extension=".exe" />
      <add name="application/x-compressed" resource="/Media/images/mime/application-x-compressed.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".tgz" />
      <add name="application/x-gzip" resource="/Media/images/mime/application-x-gzip.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".gzip" />
      <add name="application/x-rar-compressed" resource="/Media/images/mime/application-x-rar-compressed.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".rar" />
      <add name="application/x-stuffit" resource="/Media/images/mime/application-x-stuffit.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".sit" />
      <add name="application/x-compressed" resource="/Media/images/mime/application-x-compressed.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".tgz" />
      <add name="application/x-tar" resource="/Media/images/mime/application-x-tar.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".tar" />
      <add name="application/x-zip-compressed" resource="/Media/images/mime/application-x-zip-compressed.png" small="/Media/images/mime/small/application-x-compressed.png" extension=".zip" />
      <add name="audio/aiff" resource="/Media/images/mime/audio-aiff.png" small="/Media/images/mime/small/audio-aiff.png" extension=".aiff" />
      <add name="audio/mpeg" resource="/Media/images/mime/audio-mpeg.png" small="/Media/images/mime/small/audio-mpeg.png" extension=".mp3" />
      <add name="audio/ogg" resource="/Media/images/mime/audio-ogg.png" small="/Media/images/mime/small/audio-ogg.png" extension=".ogg" />
      <add name="audio/wav" resource="/Media/images/mime/audio-wav.png" small="/Media/images/mime/small/audio-wav.png" extension=".wav" />
      <add name="audio/x-ms-wma" resource="/Media/images/mime/audio-x-ms-wma.png" small="/Media/images/mime/small/audio-x-ms-wma.png" extension=".wma" />
      <add name="text/plain" resource="/Media/images/mime/text-plain.png" small="/Media/images/mime/small/text-plain.png" extension=".txt" />
      <add name="text/html" resource="/Media/images/mime/text-html.png" small="/Media/images/mime/small/text-html.png" extension=".html" />
      <add name="text/html" resource="/Media/images/mime/text-html.png" small="/Media/images/mime/small/text-html.png" extension=".htm" />
      <add name="video/avi" resource="/Media/images/mime/video-avi.png" small="/Media/images/mime/small/video-avi.png" extension=".avi" />
      <add name="video/mpeg" resource="/Media/images/mime/video-mpeg.png" small="/Media/images/mime/small/video-mpeg.png" extension=".mpeg" />
      <add name="video/quicktime" resource="/Media/images/mime/video-quicktime.png" small="/Media/images/mime/small/video-quicktime.png" extension=".mov" />
      <add name="video/x-ms-wmv" resource="/Media/images/mime/video-x-ms-wmv.png" small="/Media/images/mime/small/video-x-ms-wmv.png" extension=".wmv" />
      <add name="image/jpeg" resource="" small="/Media/images/mime/small/image-jpg.png" extension=".jpg" />
      <add name="image/jpeg" resource="" small="/Media/images/mime/small/image-jpg.png" extension=".jpeg" />
      <add name="image/gif" resource="" small="/Media/images/mime/small/image-gif.png" extension=".gif" />
      <add name="image/png" resource="" small="/Media/images/mime/small/image-png.png" extension=".png" />
      <add name="image/bmp" resource="/Media/images/mime/image-bmp.png" small="/Media/images/mime/small/image-bmp.png" extension=".bmp" />
    </mimeTypes>
  </mimeConfig>
  <mailConfig
      SmtpServer="smtp.gmail.com"
      SmtpPort="587"
      SmtpUserName="lxndrpetrov"
      SmtpPassword="rhbvbyfk"
      SmtpReply="lxndrpetrov@gmail.com"
      SmtpUser="test"
      EnableSsl="true" />
  <mailTemplatesConfig>
    <mailTemplates>
      <add name="Register_ru" subject="Регистрация на {0}" template="Здравствуйте! &lt;br/&gt;&lt;br/&gt; Перейдите по ссылке  &lt;a href='http://{2}/{0}/User/Activate/{1}'&gt;http://{2}/{0}/User/Activate/{1}&lt;/a&gt;, чтобы подтвертить свой почтовый ящик.&lt;br/&gt;-----&lt;br/&gt;С уважением, команда &lt;a href='http://{2}/{0}'&gt;{2}&lt;/a&gt;" />
      <add name="Register_en" subject="Registration on {0}" template="Hello! &lt;br/&gt;&lt;br/&gt; Please, follow link  &lt;a href='http://{2}/{0}/User/Activate/{1}'&gt;http://{2}/{0}/User/Activate/{1}&lt;/a&gt;, for confirm your email address.&lt;br/&gt;-----&lt;br/&gt;Regards, &lt;a href='http://{2}/{0}'&gt;{2}&lt;/a&gt; team" />
      <add name="ForgotPassword_ru" subject="Ваш пароль в {0}" template="Здравствуйте!&lt;br/&gt;&lt;br/&gt;Ниже указана информация для доступа в &lt;a href='http://{3}/{0}'&gt;{3}&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;Email : {1}&lt;br/&gt;Пароль: {2}&lt;br/&gt;&lt;br/&gt; -----&lt;br/&gt;С уважением, команда &lt;a href='http://{3}/{0}'&gt;{3}&lt;/a&gt;" />
      <add name="ForgotPassword_en" subject="Your access to {0}" template="Hello!&lt;br/&gt;&lt;br/&gt;Your access info on &lt;a href='http://{3}/{0}'&gt;{3}&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;Email : {1}&lt;br/&gt;Password: {2}&lt;br/&gt;&lt;br/&gt; -----&lt;br/&gt;Regards, &lt;a href='http://{3}/{0}'&gt;{3}&lt;/a&gt; team" />
    </mailTemplates>
  </mailTemplatesConfig>
  <iconConfig>
    <iconSizes>
      <add name="AvatarSize" width="260" height="200" />
    </iconSizes>
  </iconConfig>
</configuration>