@model IEnumerable<SelectListItem>
<div class="popup-input-item">
    <div class="label-name">
        Игра
    </div>
    <div class="input">
        @Html.DropDownList("GameID", Model)
    </div>
</div>
