<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="turniri.Model.Properties.Settings.turniri_workConnectionString1"
            connectionString="Data Source=SATURN-PC;Initial Catalog=turniri_work;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="turniri.Model.Properties.Settings.turniriConnectionString"
            connectionString="Data Source=SATURN-PC;Initial Catalog=turniri;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="turniri.Model.Properties.Settings._1gb_turniriConnectionString"
            connectionString="Data Source=mssql3.1gb.ua;Initial Catalog=1gb_turniri;User ID=1gb_chernikov;Password=153c5112"
            providerName="System.Data.SqlClient" />
        <add name="turniri.Model.Properties.Settings.turniri_work2ConnectionString"
            connectionString="Data Source=SATURN-PC;Initial Catalog=turniri_work2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="turniri.Model.Properties.Settings.u352342ConnectionString"
            connectionString="Data Source=u352342.mssql.masterhost.ru;Initial Catalog=u352342;User ID=u352342;Password=5phent6nlit;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="turniri.Model.Properties.Settings.u352342ConnectionString1"
            connectionString="Data Source=u352342.mssql.masterhost.ru;Initial Catalog=u352342;User ID=u352342;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="turniri.Model.Properties.Settings.turniri_workConnectionString"
            connectionString="Data Source=SATURN-PC;Initial Catalog=turniri_new;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="turniri.Model.Properties.Settings.turniri_20130128_120807ConnectionString"
            connectionString="Data Source=SATURN-PC;Initial Catalog=turniri_20130128_120807;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="turniri.Model.Properties.Settings.turniri_20130129_221035ConnectionString"
            connectionString="Data Source=SATURN-PC;Initial Catalog=turniri_20130129_221035;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="turniri.Model.Properties.Settings.turniri_20130326_162518ConnectionString"
            connectionString="Data Source=SATURN-PC;Initial Catalog=turniri_20130326_162518;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="turniri.Model.Properties.Settings.turniri_moreConnectionString"
            connectionString="Data Source=SATURN-PC;Initial Catalog=turniri_more;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="turniri.Model.Properties.Settings.turniri_work_20131107_115903ConnectionString"
            connectionString="Data Source=SATURN-PC;Initial Catalog=turniri_work_20131107_115903;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="turniri.Model.Properties.Settings.turniri_workConnectionString2"
            connectionString="Data Source=SATURN\MSSQL;Initial Catalog=turniri_work;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
