@model turniri.Model.User

<div class="popup-window">
        <div class="top-bar">
            <h3>
                ДОБАВЛЕНИЕ В ДРУЗЬЯ
            </h3>
            <div class="icon-close-popup9 sprite">
            </div>
            <div class="bar-arrow-down sprite">
            </div>
        </div>
        <div class="popup-wrapper">
            Пользователь @Model.Login добавлен в друзья
        </div>
    </div>