@{
    ViewBag.Title = "ResendVerifyEmail";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<div class="main-bootom">
    <div class="box-registration box-forum-update box">
        <div class="top-bar">
            <h3>Проверка Email
            </h3>
            <div class="bar-arrow-down sprite">
            </div>
        </div>
        <div class="registration-accepr registration-wrapper clear">
            <div class="title">
                На ваш email был выслан код для проверки
            </div>
        </div>
    </div>
</div>

